
</head>
<%- include('./partials/header') -%>
<h1></h1>
<p>Welcome to <em>LocalLibrary</em>, a very basic Express website developed as a tutorial example on the Mozilla Developer Network.</p>
<h2>Dynamic content</h2>
<p>The library has the following record counts:</p>
<ul>
    <li><strong>Books:</strong> </li>
    <li><strong>Copies:</strong> </li>
    <li><strong>Copies available:</strong> </li>
    <li><strong>Authors:</strong> </li>
    <li><strong>Genres:</strong> </li>
</ul>